/* CSS for the login page */

*{
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(135deg, #1a1a1a 0%, #2b2b2b 100%);
    background-size: 200%;
    background-position: 0%;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1a1a1a 0%, #2b2b2b 100%);
    background-size: 200%;
    background-position: 0%;
}

.form-group label{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.login-form{
    animation: show-up 0.5s ease-in-out;
}

.login-header {
    font-size: 4rem;
    margin-bottom: 20px;
    user-select: none;
    color: transparent;
    background-image: linear-gradient(to right, #00ff87, #60efff);
    background-size: 200%;
    background-position: 0%;
    -webkit-background-clip: text;
        animation: show-up 0.5s ease-in-out;
    
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 1.5rem;
}

input[type="text"]{
    padding: 0.85rem;
    background-color: #2b2b2b;
    color: white;
    border-radius: 12px;
    border: none;
    transition: 0.15s ease;
}

input[type="text"]:focus {
    outline: none;
    color: white;
    box-shadow: 0 0 5px rgba(0, 255, 135, 0.5);
}

.form-submit {
    background-image: linear-gradient(to right, #00ff87, #60efff);
    background-color: transparent;
    background-size: 200%;
    background-position: 0%;
    color: #000;
    border: none;
    background-position: 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition:  0.15s ease;
}

.form-submit:hover {
    transform: scale(1.05);
    background-position: 100%;
    box-shadow: 0 0 5px rgba(0, 255, 135, 0.5);
}



@keyframes show-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

/* Chat css */

.chat-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
    background-color: rgba(30, 29, 29, 0.791);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
}
.chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow-y: auto; 
    max-height: 100%;
}
.chat-messages{
    width: 100%;
    overflow-y: auto;
    flex: 1;
    word-break: break-word;
}
.chat-closed {
     transform: translateX(85%);
     transition: transform 1s ease-in-out;
}


.chat-closed .chat-close-btn {
    transform: rotate(180deg);
}

.chat-closed .chat-header {
    visibility: hidden;
    opacity: 0 ;
    transition: 0.9s ease;
}

.chat-closed .chat-messages{
    visibility: hidden;
    opacity: 0 ;
    transition: 0.9s ease;
}
.chat-closed .chat-input-container{
    visibility: hidden;
    opacity: 0 ;
    transition: 0.9s ease;

}

.chat-close-btn{
    position: absolute;
    display: inline-block;
    top: 1rem;
    left: 1rem;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.8;
    background-image: url('chat-close-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease;
}

.chat-input-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    opacity: 1;
    transition: 0.9s ease;
}


.send-button {
    width: 100%;
    background-image: linear-gradient(to right, #00ff87, #60efff);
    background-color: transparent;
    background-size: 200%;
    background-position: 0%;
    border-radius: 12px;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.15s ease;
}


@media screen and (max-width: 768px) {
    .chat-container {
        display: none;
    }
    .chat-input-container {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }
    .login-header {
        font-size: 3rem;
    }
    .form-submit {
        width: 100%;
    }
    
}


/* Scoreboard css */

.scoreboard{
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;

}


.scoreboard-list {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    text-align:center;
}


.scoreboard-my-score {
    color: #00ff87;
    font-style: italic;
}